body {
    background-color: #000000;
    background-image: url("image.jpg");
    font-family: Arial,sans-serif;
    text-align: center;
}

h1 {
    color: deeppink;
}

p {
    font-size: 18px;
    color: floralwhite;
}
